body{
  background: #E3F2FD;
  font-family: sans-serif;
}

.jumbotron{
  background: #B4E1FF;
  color: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #5c6bc0, #9fa8da);
  z-index: -1;
}

nav{
  /*display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;*/
  height: 10vh;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  /* background à enlever */
  background: #E3F2FD;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}

#logo{
  grid-column: 2/3;
  font-size: 24px;
}

.menu{
  width: 50px;
  height: 50px;
  justify-self: end;
}

section{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 80%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline{
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  color: #FFFFFF;
  z-index: 3;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}


/*Navbar*/
@media screen and (max-width: 768px){
  .line{
    width: 30px;
    height: 3px;
    background: #FFFFFF;
    margin: 5px;
  }

  nav{
    position: relative;
  }

  .menu-items{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links{
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li{
    opacity: 0;
  }

  .nav-links li a{
    font-size: 25px;
  }

  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }
  li.fade{
    opacity: 1;
  }
}
