/*********************************************************/
/*****************    Galerie réalisations      ***********/
/*****************                       *****************/
/*********************************************************/


.rea {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

.rea h2 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  transition: flex 0.8s ease;
}

.item:hover{
  flex: 7;
}


.item-1 {
  background-image: url("../../img/montage1.png");
}

.item-2 {
  background-image: url("../../img/montage2.png");
}

.item-3 {
  background-image: url("../../img/IMG_0001.jpg");
}

.item-4 {
  background-image: url("../../img/IMG_0252.jpg");
}

.item-5 {
  background-image: url("../../img/IMG_0257.jpg");
}
